@rust        : #dea584;
@darken-rust : darken(@rust, 20%);
@main-black  : #333;
@darken-black: #000;

html {
    border-top      : .5rem solid @rust;
    background-color: #f5f5f5;
    font-size       : 15px;
    font-family     : 'Myriad Pro', 'PingFang SC', 'Microsoft YaHei', sans-serif;
}


body {
    max-width: 70rem;
    margin   : 0 auto;
    padding  : .25rem;
}

a.normal {
    text-decoration: none;
    color          : @main-black;

    span {
        border-bottom: 1px dotted @main-black;
    }

    &:hover {
        color: @darken-black;

        span {
            border-bottom: 1px solid @darken-rust;
        }
    }
}

header {
    margin: 2rem 1rem;

    h1 {
        font-size  : 4rem;
        color      : #333;
        font-weight: 700;
        font-family: "Anyway Serif", "Title Serif", "Source Han Serif SC", "Songti SC", SimSun, serif;
        text-align : left;
        margin     : 0 1em 0 0;
        position   : relative;
        background : #fff;
        padding    : .05em .4em;
        display    : inline-block;

        sup {
            font-size  : .15em;
            line-height: 1.2;
            margin     : 0;
            border     : none;
            display    : block;
            background : #444;
            color      : #fff;
            padding    : .22em .3em .1em;
            font-family: "Anyway Type", "PingFang SC", "Microsoft YaHei", sans-serif;
            font-weight: 400;
            position   : absolute;
            display    : inline-block;
            right      : -3em;
            top        : 1em;
            text-shadow: none;
        }
    }

    nav {
        padding: 1rem 0;
        font-size: 1.25rem;
    }
}

main.body {
    display       : flex;
    flex-direction: row;

    section.main {
        flex: 0 0 100%;
    }
}

footer {
    margin-top: 2rem;
    text-align: center;

    p.point {
        width     : 1.6rem;
        margin    : 0 auto .75rem;
        height    : 1.6rem;
        background: @rust;
        animation : square-rotate 10s ease-in-out infinite;
    }
}

section.part {
    padding: 1.5rem 1rem;
    section.head {
        font-size: 1.5rem;
    }
}

ol.ordered {
    list-style-type: none;
    counter-reset  : item;
    padding        : 0;

    li {
        display: inline;

        a:before {

            font-size        : .75rem;
            color            : #aaa;
            padding-right    : 0.25rem;
            content          : "0x"counters(item, ".");
            counter-increment: item
        }

        &:not(:first-child) {
            &:before {
                content: "/";
                padding: 0 .5rem;
                color  : @main-black;
            }
        }
    }
}

nav.inline {
    a {
        &:not(:first-child) {
            &:before {
                content: "/";
                padding: 0 .5rem;
                color  : #aaa;
            }
        }
    }
}

div.book {
    padding: 1rem 0;
    div.title {
        color: #333333;
        font-size: 1.25rem;
        margin-bottom: 0.15rem;
    }
    div.desciption {
        color:#444444;
        font-size: 0.95rem;
    }
    div.meta {
        a {
            display     : inline-flex;
            font-size   : .86em;
            color: #444;
            background-color  : #e2e2e2;
            text-decoration: none;
            padding: 0.15rem .5rem;

            &:hover {
                background-color  : @darken-rust;
                color       : #fff;
        
            }
        }
    }

    &:not(:first-child) {
        border-top: 1px dotted #aaa;
    }
}


div.timed-link {
    display: flex;
    align-items: flex-start;
    margin: 0.5rem 0;
    span.time {
        margin-right: 0.2rem;
        color: #aaa;
        font-size: 0.85rem;
    }
}

div.reddit-link {
    display: flex;
    align-items: flex-start;
    margin: 0.5rem 0;
    span.mark {
        margin-right: 0.2rem;
        color: #aaa;
        font-size: 0.85rem;
    }
}

div.reddit-link {
    display: flex;
    align-items: flex-start;
    margin: 0.5rem 0;
    span.mark {
        margin-right: 0.2rem;
        color: #aaa;
        font-size: 0.85rem;
    }
}
